<div class="card">

  <img mat-card-image  class ="image" src="./assets/HomePicture.jpg">



  <mat-card class="HomeContent-card">
      <mat-card-header class="HomeContentHeader" >
          <mat-card-title><h1>Some Awesome Features</h1></mat-card-title>
        </mat-card-header>

    <mat-card-content class="HomeContent">
        <mat-card class="Feature-card">
            <mat-card-header class ="FeatureHeader">
                <img mat-card-avatar  class ="icon" src="./assets/experience.png">
              <mat-card-title><h2>Experienced Instructors</h2></mat-card-title>

            </mat-card-header>

            <mat-card-content>
              <p>
               Our instructors have  more than 3 years of experience in teaching driving and have 
               more than 5 years of driving experience.In Addition We continiously train our instructors.
               Their training courses includes teaching methods, safe driving practice and interpersonal skills.
                  
              </p>
            </mat-card-content>
            <mat-card-actions>
             
            </mat-card-actions>
          </mat-card>
          <mat-card class="Feature-card">
              <mat-card-header class ="FeatureHeader">
                  <img mat-card-avatar  class ="icon" src="./assets/affodable.png">
                <mat-card-title><h2>Affordable Fee</h2></mat-card-title>

              </mat-card-header>

              <mat-card-content>
                <p>
                 Our driving school offers the best affordable fee on the markert.We believe that driving is for everyone
                 We usualy run promotions and we offer best discounts which anyone can not affordable to miss.
                 We also allow people to pay in instalments  so nothing will stop you from practising because we just care

                </p>
              </mat-card-content>
              <mat-card-actions>

              </mat-card-actions>
            </mat-card>
            <mat-card class="Feature-card">
                <mat-card-header class ="FeatureHeader" >
                    <img mat-card-avatar  class ="icon" src="./assets/proffesional.png">
                  <mat-card-title><h2>Professional Driving Courses</h2></mat-card-title>

                </mat-card-header>

                <mat-card-content>
                  <p>
                    Our instructors are well trained and we continiously check their criminal records .
                    We are 100% sure that your relationship is strictly Professional and everyone is respected.Our role is to creat a good training environment in 
                    which you can feel that your needs are being heard and understood and you are always safe

                  </p>
                </mat-card-content>
                <mat-card-actions>
               
                </mat-card-actions>
              </mat-card>
              <mat-card class="Feature-card">
                  <mat-card-header class ="FeatureHeader">
                      <img mat-card-avatar  class ="icon" src="./assets/safety.png">
                    <mat-card-title><h2>Safety</h2></mat-card-title>

                  </mat-card-header>

                  <mat-card-content>
                    <p>
                     Our driving school offers basic first aid treatment in case of emergency whilst driving ,safelty measures
                     which must be known by anyone behind the wheel and mechanic basics which involves changing your tire.
                     Safety measures includes the importance of a seatbelt while driving
                    </p>
                  </mat-card-content>
                  <mat-card-actions>
                  
                  </mat-card-actions>
                </mat-card>
    </mat-card-content>

    <mat-card-actions>
    </mat-card-actions>
  </mat-card>

</div>
