.ContactContent-card{
    display: inline-block; 
    width:600px; 
    height: 650px; 
    margin: 30px; 
    flex: 1 0 25%;
    
}
.ContactContent-card1{
    display: inline-block; 
    margin: 0px; 
    flex: 1 0 25%;
    width:600px;  

}

.email-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
.ContactContent {
    display: flex;
    justify-content: center;
  }
  .MainContent {
    display: flex;
    flex-wrap: wrap;
  }
  .action{
    display: flex;
    justify-content: center;
  }

  .ContactContentHeader{
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
}
.input{
   
    padding: 20px; 
    width: 400px;
    height: 5px;

}
.field{
    display: block;
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  
}
.texarea{
  
    width: 500px;
    height: 100px;
}
.button{
    border-radius: 15px;
    border: 2px solid black;
    width: 200px;
    height: 40px;  
}
.Contact-card{
    display: block;
    flex: 1 0 25%;
    margin: 30px;
   
}
.image{
    background-size: cover;
}