.ServiceContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
  }
  .ServiceContent-card{
    background-color:#C7689C;
    justify-content: baseline;
  }
  .ServiceContentHeader{
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
}
.Service-card{
    border-radius: 20px;
    border: 4px solid #5A9837;  
    max-width:600px; 

}
.ServiceHeader{
    font-family:'Times New Roman', Times, serif;

}
.card{
  margin-top: 5%;
}
.Category{
  margin: 1%;
  background-color:white;
}
.icon{
  background-size: cover;
}
