.ServiceContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
  }
  .ServiceContentHeader{
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
}
.Service-card{
    display: inline-block;
    flex: 1 0 25%;
    margin: 30px;
   
}
.ServiceHeader{
    font-family:'Times New Roman', Times, serif;
   
}