.HomeContentHeader{
  justify-content: center;
  font-family: 'Courier New', Courier, monospace;
}
.HomeContent {
  display: flex;
  justify-content: center;

}
.image{
  margin: 4px;
  width: 30%;
  display: inline-block;
}
.Testimonials{
  width: 100%;
}

.card{
  margin-top: 5% ;
}

.DrivingSchoolCars{
  width:100%;
}

.DrivingSchoolSafety{
  width:100%;
}

.Category{
  margin: 1%;
  height: 30%;
  background-color: #5A9837;
}

.Category1{
  margin: 1%;
  height: 30%;
  background-color: white;
}
