<div class="card">

<mat-card>

<mat-accordion>

  <mat-expansion-panel class="Category">
  <mat-expansion-panel-header class="HomeContentHeader" >
    <mat-panel-title><h1>Testimonials</h1></mat-panel-title>
  </mat-expansion-panel-header>

  <mat-panel-description class="HomeContent">


    <div class="Testimonials" >
    <img mat-card-image  class ="image" src="./assets/HappyClient5.jpeg">

    <img mat-card-image  class ="image" src="./assets/HappyClient6.jpeg">

    <img mat-card-image  class ="image" src="./assets/HAppyClient3.jpeg">
    </div>

  </mat-panel-description>
  </mat-expansion-panel>

  <mat-expansion-panel class="Category1">
    <mat-expansion-panel-header class="HomeContentHeader" >
      <mat-panel-title><h1>Driving School Safety Measures</h1></mat-panel-title>
    </mat-expansion-panel-header>

    <mat-panel-description class="HomeContent">

      <div class="DrivingSchoolSafety">
        <img mat-card-image  class ="image" src="./assets/CaronFire.jpeg">

        <img mat-card-image  class ="image" src="./assets/fire-fighters.jpeg">

        <img mat-card-image  class ="image" src="./assets/firstAid.jpeg">

      </div>

    </mat-panel-description>
  </mat-expansion-panel>

  <mat-expansion-panel class="Category" >
    <mat-expansion-panel-header class="HomeContentHeader" >
      <mat-panel-title><h1>Our Vehicles</h1></mat-panel-title>
    </mat-expansion-panel-header>

    <mat-panel-description class="HomeContent">

      <div class="DrivingSchoolSafety">
        <img mat-card-image  class ="image" src="./assets/car.jpeg">
        <img mat-card-image  class ="image" src="./assets/Truck.jpg">
        <img mat-card-image  class ="image" src="./assets/BridgesanTruck.jpg">

      </div>

    </mat-panel-description>
  </mat-expansion-panel>

</mat-accordion>
</mat-card>
</div>
