.card{
  margin-top: 5% ;
}


.HomePicture-card {
  max-width: 100%;
  margin: 1%;
}

.image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height:242px;
  width: 50%;
}

.HomeContent-card{
  margin: 1%;
}

.card{
  margin-top: 5%;
}

.HomeContent {
  display: flex;
  justify-content: center;
}

.HomeContentHeader{
  justify-content: center;
  font-family: 'Courier New', Courier, monospace;
}
.Feature-card{
  border-radius: 20px;
  margin: 15px;
  display: inline-block;
  border: 4px solid #5A9837;
  width: 35%;
}

.FeatureHeader{
  font-family:'Times New Roman', Times, serif;
}

.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
